html {
    box-sizing: border-box;
}
*, *:after, *::before {
    box-sizing: inherit;
}

.body {
    
    
    background-image: url(tło.png);
    background-attachment: fixed;
    background-size: 100%;
}



.cytat {
    
    text-align: center;
    font-size: 40px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    color:white;
}



.grid {
   
    display: grid;
    position: relative;
    grid-template-columns: repeat(11, 100px);
    grid-template-rows: repeat(18, 100px);
    grid-gap: 5px;
    background-color: white;
    margin: 100px;
    border-radius: 100px;
    border: 15px double rgb(228, 168, 4);   

}  

.grid__new {
   
    display: grid;
    position: relative;
    grid-template-columns: repeat(11, 100px);
    grid-template-rows: repeat(26, 100px);
    grid-gap: 5px;
    background-color: white;
    margin: 100px;
    border-radius: 100px;
    border: 15px double rgb(228, 168, 4);   

}


 
.header {
    
    grid-column: 4 / 9;
    grid-row: 1 / 3;

}

.mainheader {

    color: blueviolet;
    font-size: 25px;
    text-align: center;
    font-family: 'Bubblegum Sans', sans-serif;

}


.navigation {

    font-size: 20px;
    border-bottom: 1px solid #828385;
    width:100%;
    height:50px;
    text-align: center;
    
}

.navigation__item  {

    display:inline;
}

.navigation__link {
   
    color: blueviolet;
    text-decoration:none; 

}

.navigation__link:hover {
    
    text-decoration-line: underline;

}



.section {
    
    grid-column: 4 / 9;
    grid-row: 3 / 12; 
}

.sectionheader {
    
    font-size: 25px; 
    color: blueviolet;
    text-align: center;
    font-family: Apple Chancery, cursive;
}

.article {

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    justify-content: space-between;

}

.paragraph {

    font-size: 15px;
    color:black;
    text-align: right;
    font-weight: 700; (bold)
    
}

.paragraph__second {

    font-size: 15px;
    color:black;
    text-align: left;
     
}



.section__second {

    grid-column: 4 / 9;
    grid-row: 6 / 9;
    border-top:  1px solid #828385;
    font-family: URW Chancery L, cursive;
    text-align: justify;

}



.section__three {

    grid-column: 4 / 9;
    grid-row: 9 / 11;
    border-top:  1px solid #828385;
    font-family: URW Chancery L, cursive;
    text-align: justify;
}



.section__four {

    grid-column: 4 / 9;
    grid-row: 12 / 14;
    border-top:  1px solid #828385;
    font-family: URW Chancery L, cursive;
    text-align: justify;
}



.section__five {
    
    grid-column: 4 / 9;
    grid-row: 3 / 12;
    font-family: URW Chancery L, cursive; 
    text-align: justify;
}


 
.section__six {
    
    grid-column: 4 / 9;
    grid-row: 3 / 27;
    font-family: URW Chancery L, cursive;
    text-align: justify;
}



.section__seven {

    grid-column: 4 / 9;
    grid-row: 3 / 10;
    font-family: URW Chancery L, cursive;
    text-align: justify;

}



.gallery {
 
    grid-column: 1 / 11;
    grid-row: 10 / 16;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 20px 20px 20px;
   
}


.photo {

    
    width: 200px;
    background: white;
    padding: 10px;
    opacity: 0,7;
    border-radius: 3px;
    border: 1px solid silver;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    transition: 0.5s all linear;
    
}

.photo img {

    width: 50px;
    flex-basis: 100%;
   
}

.photo:hover {

    opacity: 1;
    position:absolute;
    transform: scale(2.2);
    z-index: 5;
}

.top {
    color: white;
    font-size: 30px;
    position: fixed;
    bottom: 200px;
    right: 10px;
}



.fish {

    grid-column: 9 / 11;
    grid-row: 1 / 3;
    width: 150px;
    height: 150px;
}

.second__fish {

    grid-column: 2 / 4;
    grid-row: 1 / 3;
    width: 150px;
    height: 150px;
 
}
.div {

    grid-column: 1 / 3;
    grid-row: 3 / 5;
    width: 200px;
    height: 200px;
    margin: 50px;  
    transition: 0.5s all linear;

}

.div:hover {

    transform: scale(2.2);
    
}

.front {

    grid-column: 9 / 11;
    grid-row: 3 / 5;
    width: 200px;
    height: 200px;
    margin: 50px;  
    transition: 0.5s all linear;
}

.front:hover {

    transform: scale(2.2);
    
}

.back {

    grid-column: 9 / 11;
    grid-row: 6 / 8;
    width: 200px;
    height: 200px;
    margin: 50px;  
    transition: 0.5s all linear;
}

.back:hover {

    transform: scale(2.2);
    
}


.inside:hover {

    transform: scale(2.2);

}

.inside {

    grid-column: 1 / 3;
    grid-row: 6 / 8;
    width: 200px;
    height: 200px;
    margin: 50px; 
    transition: 0.5s all linear;
}

.inside:hover {

    transform: scale(2.2); 

}

.Antoni {

    grid-column: 9 / 11;
    grid-row: 9 / 11;
    width: 200px;
    height: 200px;
    margin: 50px; 
    transition: 0.5s all linear;
}

.Antoni:hover {

    transform: scale(2.2); 

}

.Antonio {

    grid-column: 1 / 4;
    grid-row: 9 / 11;
    width: 200px;
    height: 200px;
    margin: 50px; 
    transition: 0.5s all linear;
}

.Antonio:hover {

    transform: scale(2.2); 

}

.palace {

    grid-column: 1 / 4;
    grid-row: 12 / 14;
    width: 200px;
    height: 200px;
    margin: 50px; 
    transition: 0.5s all linear;
}

.palace:hover {

    transform: scale(2.2); 

}

.tower {

    grid-column: 9 / 11;
    grid-row: 12 / 14;
    width: 200px;
    height: 200px;
    margin: 50px; 
    transition: 0.5s all linear;
}

.tower:hover {

    transform: scale(2.2); 

}

.down {

    grid-column: 2 / 11;
    grid-row: 15 / 18;
    width: 900px;
    height: 300px;
    margin: 10px; 
}

.footer {

    display: flex;
    flex-direction:column;
    align-items: flex-end;
    font-family: fantasy;
    

}


  
@media (max-width: 1100px) {

    .grid {
        
        display: block;
        padding: 20px;
        margin:10px;
    }

    .grid__new {

        display: block;
       
        padding: 20px;
        margin: 10px;
       

    }

    .header {
    
        grid-column: 1 / 5;
    
    }

    .section {
    
        grid-column: 1 / 5;
        
    }

    .fish  {

        display: none;
    }

    .second__fish {

        display: none;
    }

    .div {

        display: none;
    }

    .front {

        display: none
    }

    .back {

        display:none;
    }

    .inside {

        display: none;
    }

    .Antoni {

        display: none;
    }

    .Antonio {

        display: none;
    }

    .palace {

        display: none;
    }

    .tower {

        display: none;
    }

    .down {

        display: none;
    }

    .top {
        color:black;
    }


}


    transform: rotate(2deg);