@media (max-width: 400px) {

  .navigation__button {
  display: block;
  animation: button 2s ease-in-out infinite;
  
}

  @keyframes button {
    from {
      transform: scale(1);
  } 
  to {
    transform: scale(2);
  } 
}

  .navigation {
    background: none;
    height: 90px;
    margin: 0;
    display: flex;
    position: relative;
    &__list {
    display: none;
    transition: all 0.5s;
    margin-top: 0px;
    background: linear-gradient(-8deg, #ba05b1, #0b8793 );
    width: 300px;
    height: 100px;
    position: absolute; 
    border-radius: 7px; }
    &__menu {
    display:block;}
    &__button {
    display: block;
    position: absolute;}

}

.dropdown__menu {
    z-index: 1;
    position: relative;
    left: 155px;  
}

.dropdown__icon {
    color:white;    
}

.navigation--open {
    display: block;}

.hamburger {
     display: block;
 }  

.line__zero--js {

    display: none;
}

.line__first--js {

 width: 3px;
 height: 35px;
 position: absolute;
 left: 12px;       
 border-radius: 7px;
 margin: 5px ;
 transform: rotate(945deg);  
 background-color:white;
 
}

.line__second--js {

 background-color:white;
 width: 35px;
 height:3px;
 position: relative;
 top: 15px;
 border-radius: 7px;
 margin: 5px;
 transform: rotate(945deg);

} 
}
