html {
    box-sizing: border-box;
}
*, *:after, *::before {
    box-sizing: inherit;
}

:root {

    --mainheader: 'Akaya Telivigala', sans-serif;       
    --sectionheader: Bradley Hand, cursive;
    --color: rgb(61, 3, 114);
    --paragraph: 'Amita', sans-serif;
    --menu: 'Gluten', cursive;
}
    

.body {   
    
    background-image: url(../assets/tło.png);
    background-attachment: fixed;
    background-size: 100%;
    position: relative;
    width: 1300px;
    height: 2300px;
    
}



.cytat {
    
    text-align: center;
    font-size: 40px;
    font-family:'Clicker Script', sans-serif;
    color:whitesmoke;
    width: 1150px;
    margin: 40px 60px 40px 60px;
}



.main {
   
    display: grid;  
    grid-template-columns: repeat(11, 100px);
    grid-template-rows: repeat(19, 100px);
    grid-gap: 5px;
    
    position: relative;
    right: 10px;
    background-color: white;
    margin: 50px;
    border-radius: 100px;
    border: 15px double rgb(228, 168, 4);
      

}  

 
.header {
    
    grid-column: 4 / 9;
    grid-row: 1 / 3;
    top: 10px;

}

.mainheader {
    
    font-family: var(--mainheader);
    color: goldenrod;
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
}

/*strona główna*/

.section__info {
    
    grid-column: 4 / 9;
    grid-row: 3 / 7; 
    
}

.section__duty {

    grid-column: 4 / 9;
    grid-row: 7 / 10;
    border-top:  1px solid #828385;
    font-family: URW Chancery L, cursive;
    text-align: justify;

}

.section__antoni {

    grid-column: 4 / 9;
    grid-row: 10 / 13;
    border-top:  1px solid #828385;
    text-align: justify;
    font-family: "Yuji Boku", serif;
}

.section__village {

    grid-column: 4 / 9;
    grid-row: 13 / 15;
    border-top:  1px solid #828385;
    font-family: URW Chancery L, cursive;
    text-align: justify;
}

/*Aktualności*/

.section__announcement {
    
    grid-column: 4 / 9;
    grid-row: 3 / 12;
    font-family: URW Chancery L, cursive; 
    text-align: justify;
}

.section__rap {
    
    grid-column: 4 / 10;
    font-size: 25px;
    color:var(--paragraph);
    color: rgb(61, 3, 114);
    width: 620px;
    height: 700px;

    margin: 5px;
    padding: 3px;  
    
} 

/*Sakramenty*/

.section__penance {
    
    grid-column: 4 / 9;
    grid-row: 3 / 27;
    font-family: URW Chancery L, cursive;
    text-align: justify;
}

/*Historia*/

.section__history {

    grid-column: 4 / 9;
    grid-row: 3 / 10;
    font-family: URW Chancery L, cursive;
    text-align: justify;

}

/*Inne*/

.sectionheader {
    
    font-size: 25px; 
    color: var(--color);
    text-align: center;
    font-family: var(--sectionheader);
   
}

.article {

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    justify-content: space-between;

}

.paragraph {
    font-family: var(--paragraph);
    font-size: 15px;
    font-weight: bold;
}
.paragraph__left {

    font-size: 14px;
    color:black;
    text-align: right;
    font-weight: 700 (bold);
    font-family: var(--paragraph);
    top:1px;
    font-weight: bold;
    
}

.paragraph__right {

    font-size: 14px;
    color:black;
    text-align: left;
    font-family: var(--paragraph);
    font-weight: bold;    
}

/*Zdjęcia__główna*/

.fish {

    grid-column: 9 / 11;
    grid-row: 1 / 3;
    width: 150px;
    height: 150px;

  }

.logo {

    grid-column: 2 / 4;
    grid-row: 1 / 3
    
}

.church__right {

    grid-column: 1 / 3;
    grid-row: 4 / 6;
    width: 200px;
    height: 200px;
    margin: 50px;  
    transition: 0.5s all linear;

}

.church__right:hover {

    transform: scale(2.2);
    
}

.church__left {

    grid-column: 9 / 11;
    grid-row: 4 / 6;
    width: 200px;
    height: 200px;
    margin: 50px;  
    transition: 0.5s all linear;
}

.church__left:hover {

    transform: scale(2.2);
    
}

.church__back {

    grid-column: 9 / 11;
    grid-row: 7 / 9;
    width: 200px;
    height: 200px;
    margin: 50px;  
    transition: 0.5s all linear;
}

.church__back:hover {

    transform: scale(2.2);
    
}


.church__inside:hover {

    transform: scale(2.2);

}

.church__inside {

    grid-column: 1 / 3;
    grid-row: 7 / 9;
    width: 200px;
    height: 200px;
    margin: 50px; 
    transition: 0.5s all linear;
}

.church__inside:hover {

    transform: scale(2.2); 

}

.Antoni__left {

    grid-column: 1 / 4;
    grid-row: 10 / 12;
    width: 200px;
    height: 200px;
    margin: 50px; 
    transition: 0.5s all linear;
}

.Antoni__left:hover {

    transform: scale(2.2); 

}

.Antoni__right {

    grid-column: 9 / 11;
    grid-row: 10 / 12;
    width: 200px;
    height: 200px;
    margin: 50px; 
    transition: 0.5s all linear;
}

.Antoni__right:hover {

    transform: scale(2.2); 
}

.village__palace {

    grid-column: 1 / 4;
    grid-row: 13 / 15;
    width: 200px;
    height: 200px;
    margin: 50px; 
    transition: 0.5s all linear;
}

.village__palace:hover {

    transform: scale(2.2); 
}

.village__tower {

    grid-column: 9 / 11;
    grid-row: 13 / 15;
    width: 200px;
    height: 200px;
    margin: 50px; 
    transition: 0.5s all linear;
}

.village__tower:hover {

    transform: scale(2.2); 

}

.info__down {

    grid-column: 2 / 11;
    grid-row: 16 / 18;
    width: 900px;
    height: 300px;
    margin: 10px; 
    
}

/*Zdjęcia__Aktualności*/

.rap {

    width: 300px;
    height: 233px;
    display: inline-block;
    margin: 1px;
    padding: 2px;
    border: 1px solid black; 
 }

.rap__img {

    width: 295px;
    height: 200px;   
}

/*Zdjęcia__historia*/

.history__gallery {
 
    grid-column: 1 / 11;
    grid-row: 11 / 16;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
   
}

.history__photo {

    width: 200px;
    background: white;
    padding: 10px;
    opacity: 0,7;
    border-radius: 3px;
    border: 1px solid silver;
    box-sizing: border-box;
    display:flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    transition: 0.5s all linear;
    
}

.history__photo img {

    width: 50px;
    flex-basis: 100%;
    
}

.history__photo:hover {

    opacity: 1;
    position:absolute;
    transform: scale(2.2);
    z-index: 5;
}

 /*Animacje*/

 .Birthday {

    width:300px;
    height:150px;
    margin:0 auto;
    background-color:none;
    text-align:center;
    line-height:50px;
    font-size:26px;
    animation:naszaAnimacja 7s linear infinite;
    transform-origin:50% 50% 200px;
  }
  
  @keyframes naszaAnimacja
  {
    0% { transform:perspective(900px) rotateY(0); }
    100% { transform:perspective(900px) rotateY(360deg); }
  }

.fish--linki {

    grid-column: 9 / 11;
    grid-row: 1 / 3;
    width: 150px;
    height: 150px;
    background: none;
    animation:naszaAnimacja 4s linear infinite;
  }
  
  @keyframes naszaAnimacja
  {
    0% { transform:perspective(300px) rotateY(0) translateX(0); }
    100% { transform:perspective(300px) rotateY(360deg) translateX(150px); }
  }


.second__fish--linki {

    grid-column: 2 / 4;
    grid-row: 1 / 3;
    width: 150px;
    animation:naszaAnimacja 4s linear infinite;
  }
  
  @keyframes naszaAnimacja
  {
    0% { transform:perspective(300px) rotateY(0) translateX(0); }
    100% { transform:perspective(300px) rotateY(360deg) translateX(150px); }
  }
 
.footer {

    display: flex;
    flex-direction:column;
    align-items: flex-end;
    font-family: fantasy;
       
}

.top {
    color: black;
    text-decoration:underline;
    font-size: 25px;
    font-weight: bolder;
    position: fixed;
    bottom: 120px;
    right: 5px;
}





@media (max-width: 992px) {

  
  
  


    .grid {
        
        display: block;
        padding: 20px;
        margin:10px;
    }

   

    .grid__new {

        display: block;
        padding: 20px;
        margin: 10px;
        position: relative;
       

    }

    .front__one {
        display:none;
    }

    .header {
    
        grid-column: 1 / 5;
    
    }

    .section {
    
        grid-column: 1 / 5;
        
    }

    .fish  {

        display: none;
    }

    .second__fish {

        display: none;
    }

    .div {

        display: none;
    }

    .front {

        display: none
    }

    .back {

        display:none;
    }

    .inside {

        display: none;
    }

    .Antoni {

        display: none;
    }

    .Antonio {

        display: none;
    }

    .palace {

        display: none;
    }

    .tower {

        display: none;
    }

    .down {

        display: none;
    }
}