html {
    box-sizing: border-box;
}
*, *:after, *::before {
    box-sizing: inherit;
}

:root {

    --mainheader: 'Akaya Telivigala', sans-serif;       
    --sectionheader: Bradley Hand, cursive;
    --color: rgb(61, 3, 114);
    --paragraph: 'Amita', sans-serif;
    --menu: 'Gluten', cursive;
}
    

.body {   
    
    background-image: url(../assets/tło.png);
    background-attachment: fixed;
    background-size: 100%;
    position: relative;
    width: 1300px;
    height: 2300px;
    
}



.cytat {
    
    text-align: center;
    font-size: 40px;
    font-family: 'Clicker Script', sans-serif;
    color:white;
    width: 1150px;
    margin: 40px 60px 40px 60px;
}



.grid {
   
    display: grid;  
    grid-template-columns: repeat(11, 100px);
    grid-template-rows: repeat(18, 100px);
    grid-gap: 5px;
    
    position: relative;
    left:5px;
    top:;
    background-color: white;
    margin: 50px;
    border-radius: 100px;
    border: 15px double rgb(228, 168, 4);
      

}  

.grid__new {
   
    display: grid;
    position: relative;
    grid-template-columns: repeat(11, 100px);
    grid-template-rows: repeat(26, 100px);
    grid-gap: 5px;
    background-color: white;
    margin: 100px;
    border-radius: 100px;
    border: 15px double rgb(228, 168, 4);   

}


 
.header {
    
    grid-column: 4 / 9;
    grid-row: 1 / 3;

}

.mainheader {
    
    font-family: var(--mainheader);
    color: var(--color);
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
}

/*navigation styling */



* {
  margin: 5;
  padding: 5;
  scroll-behavior: smooth;
  
}

.navigation {


  background: linear-gradient(-8deg, #0b8793, #ba05b1);
  border-radius: 10px;

  height: 60px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding:5px;
  text-align: center;
  align-items: center;
  font-family:var(--menu);
  
  
}

.navigation__list {
  
  width: 500px; 
  height: 35px;
  padding: 3px;  
  text-align: center;
  align-items: center;
  transition: all 0.5s;
}



.navigation__menu { 
  
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 3px;
}

.navigation__menu li {
  list-style: none;
  padding: 0 1rem;

}

.navigation__dropdown {
    
    position: relative;
    
}

.dropdown__icon {
    color:white;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 5px;
    
    
}

.dropdown__icon:hover {
    
    background-color: #b2046f;
    border-radius: 7px;
  }



.dropdown__menu {
  
    width: 135px;
    height: 220px;
    justify-content: space-around;
    text-align: left;
    position: absolute;
    background: linear-gradient(-8deg, #ba05b1, #0b8793 ); 
    padding: 3px;
    list-style-type: none;
    margin: 5px;
    border-radius: 7px;
    display: none;
    
}
.navigation__dropdown a:focus + ul,
.navigation__dropdown a:hover + ul,
.navigation__dropdown ul:hover {
 
    display:block;
}

.dropdown__item{

    padding: 5px;
}

.dropdown__item:hover {
    background-color: #b2046f;
    border-radius: 7px;
    
}

.dropdown__link {
    width: 100%;
    height: 100%;
    display: inline-block;
   
    padding: 7px;
    margin:0;
    color: white;
    text-decoration: none;
    font-size: 15px;
    
}

/*section stylling*/

/* hamburger*/

.hamburger {
    display: none;
  }
  
  .bar,
  .fa-times {
    width: 1.5rem;
    height: 3px;
    display: block;
    color: #fff;
    padding: 0;
    margin: 6px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #fff;
  }
  
  .bar:nth-child(1) {
    width: 100%;
  }
  
  .bar:nth-child(2) {
    width: 200%;
  }
  
  .bar:nth-child(3) {
    width: 300%;
  }
  
  /*koniec hamburgera*/

.section {
    
    grid-column: 4 / 9;
    grid-row: 3 / 6; 
    
}

.sectionheader {
    
    font-size: 25px; 
    color: var(--color);
    text-align: center;
    font-family: var(--sectionheader);
}

.article {

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    justify-content: space-between;
    border-bottom:  1px solid #828385;

}

.paragraph {
    font-family: var(--paragraph);
    font-size: 15px;
}
.paragraph__one {

    font-size: 12px;
    color:black;
    text-align: right;
    font-weight: 700 (bold);
    font-family: var(--paragraph);
    top:1px;
    
}

.paragraph__second {

    font-size: 12px;
    color:black;
    text-align: left;
    font-family: var(--paragraph);
     
}

.section__rap {
    
    grid-column: 4 / 9;
    font-size: 25px;
    color:var(--paragraph);
    color: rgb(61, 3, 114);
}



.section__second {

    grid-column: 4 / 9;
    grid-row: 6 / 9;
    
    font-family: URW Chancery L, cursive;
    text-align: justify;

}



.section__three {

    grid-column: 4 / 9;
    grid-row: 9 / 11;
    border-top:  1px solid #828385;
    text-align: justify;
    font-family: "Yuji Boku", serif;
}



.section__four {

    grid-column: 4 / 9;
    grid-row: 12 / 14;
    border-top:  1px solid #828385;
    font-family: URW Chancery L, cursive;
    text-align: justify;
}



.section__five {
    
    grid-column: 4 / 9;
    grid-row: 3 / 12;
    font-family: URW Chancery L, cursive; 
    text-align: justify;
}


 
.section__six {
    
    grid-column: 4 / 9;
    grid-row: 3 / 27;
    font-family: URW Chancery L, cursive;
    text-align: justify;
}



.section__seven {

    grid-column: 4 / 9;
    grid-row: 3 / 10;
    font-family: URW Chancery L, cursive;
    text-align: justify;

}



.gallery {
 
    grid-column: 1 / 11;
    grid-row: 10 / 16;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
   
}


.photo {

    
    width: 200px;
    background: white;
    padding: 10px;
    opacity: 0,7;
    border-radius: 3px;
    border: 1px solid silver;
    box-sizing: border-box;
    display:flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    transition: 0.5s all linear;
    
}

.photo img {

    width: 50px;
    flex-basis: 100%;
    
   
}

.photo:hover {

    opacity: 1;
    position:absolute;
    transform: scale(2.2);
    z-index: 5;
}

.top {
    color: black;
    text-decoration:underline;
    font-size: 25px;
    font-weight: bolder;
    position: fixed;
    bottom: 200px;
    right: 5px;
}



.fish {

    grid-column: 9 / 11;
    grid-row: 1 / 3;
    width: 150px;
    height: 150px;
    animation:naszaAnimacja 4s linear infinite;
  }
  
  @keyframes naszaAnimacja
  {
    0% { transform:perspective(300px) rotateY(0) translateX(0); }
    100% { transform:perspective(300px) rotateY(360deg) translateX(150px); }
  }


.second__fish {

    grid-column: 2 / 4;
    grid-row: 1 / 3;
    width: 150px;
    animation:naszaAnimacja 4s linear infinite;
  }
  
  @keyframes naszaAnimacja
  {
    0% { transform:perspective(300px) rotateY(0) translateX(0); }
    100% { transform:perspective(300px) rotateY(360deg) translateX(150px); }
  }
.div {

    grid-column: 1 / 3;
    grid-row: 3 / 5;
    width: 200px;
    height: 200px;
    margin: 50px;  
    transition: 0.5s all linear;

}

.div:hover {

    transform: scale(2.2);
    
}

.front {

    grid-column: 9 / 11;
    grid-row: 3 / 5;
    width: 200px;
    height: 200px;
    margin: 50px;  
    transition: 0.5s all linear;
}

.front:hover {

    transform: scale(2.2);
    
}

.back {

    grid-column: 9 / 11;
    grid-row: 6 / 8;
    width: 200px;
    height: 200px;
    margin: 50px;  
    transition: 0.5s all linear;
}

.back:hover {

    transform: scale(2.2);
    
}


.inside:hover {

    transform: scale(2.2);

}

.inside {

    grid-column: 1 / 3;
    grid-row: 6 / 8;
    width: 200px;
    height: 200px;
    margin: 50px; 
    transition: 0.5s all linear;
}

.inside:hover {

    transform: scale(2.2); 

}

.Antoni {

    grid-column: 9 / 11;
    grid-row: 9 / 11;
    width: 200px;
    height: 200px;
    margin: 50px; 
    transition: 0.5s all linear;
}

.Antoni:hover {

    transform: scale(2.2); 

}

.Antonio {

    grid-column: 1 / 4;
    grid-row: 9 / 11;
    width: 200px;
    height: 200px;
    margin: 50px; 
    transition: 0.5s all linear;
}

.Antonio:hover {

    transform: scale(2.2); 

}

.palace {

    grid-column: 1 / 4;
    grid-row: 12 / 14;
    width: 200px;
    height: 200px;
    margin: 50px; 
    transition: 0.5s all linear;
}

.palace:hover {

    transform: scale(2.2); 

}

.tower {

    grid-column: 9 / 11;
    grid-row: 12 / 14;
    width: 200px;
    height: 200px;
    margin: 50px; 
    transition: 0.5s all linear;
}

.tower:hover {

    transform: scale(2.2); 

}

.down {

    grid-column: 2 / 11;
    grid-row: 15 / 18;
    width: 900px;
    height: 300px;
    margin: 10px; 
}

.Heres {
    
    grid-column: 4 / 9;
    grid-row: 3 / 9;

}

.Bartczak {

    grid-column: 4 / 9;
    grid-row: 9 / 15;
}

.footer {

    display: flex;
    flex-direction:column;
    align-items: flex-end;
    font-family: fantasy;
       
}







@media (max-width: 992px) {

  
  
  


    .grid {
        
        display: block;
        padding: 20px;
        margin:10px;
    }

    .grid__new {

        display: block;
        padding: 20px;
        margin: 10px;
       

    }

    .header {
    
        grid-column: 1 / 5;
    
    }

    .section {
    
        grid-column: 1 / 5;
        
    }

    .fish  {

        display: none;
    }

    .second__fish {

        display: none;
    }

    .div {

        display: none;
    }

    .front {

        display: none
    }

    .back {

        display:none;
    }

    .inside {

        display: none;
    }

    .Antoni {

        display: none;
    }

    .Antonio {

        display: none;
    }

    .palace {

        display: none;
    }

    .tower {

        display: none;
    }

    .down {

        display: none;
    }

    .top {
        color:black;
    }


  
